@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-std.css");

/* font */
body {
  font-family: "Pretendard Std Variable", "Pretendard Std", "Foldit",
    "Song Myung", "Helvetica Neue", "Segoe UI", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
}
.f_h1 {
  font-size: 4.1em;
}
.f_h2 {
  font-size: 2em;
}
.f_h3 {
  font-size: 1.75em;
}
.f_h4 {
  font-size: 1em;
}
.f_h5 {
  font-size: 0.75em;
}

.f_B {
  font-weight: 600;
}
.f_R {
  font-weight: 400;
}
.f_L {
  font-weight: 200;
}
@media screen and (max-width: 1200px) {
  .f_h1 {
    font-size: 2em;
  }
  .f_h2 {
    font-size: 1.75em;
  }
  .f_h3 {
    font-size: 1.25em;
  }
  .f_h4 {
    font-size: 1em;
  }
  .f_h5 {
    font-size: 0.75em;
  }
}
/* color */
:root {
  --BG_N: #000b18;
  --SEC_LG: #d9d9d9;
  --BG_p: #d9ff00;
  --sec_s: #a5c3e7;
  --sec_P: #ffa722;
  --FONT_W: #fff;
  --Font_B: #1a4170;
}
.liner_Gra {
  fill: linear-gradient(#ff1e1e, #ffa722);
}

/* cursor */
#mouseCursor {
  position: fixed;
  width: 0.938em;
  height: 0.938em;
  top: -5%;
  left: -5%;
  background: var(--sec_s);
  pointer-events: none; /* 마우스 이벤트를 통과시킴 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999999;
  box-shadow: 0px 0px 15px 3px var(--sec_s);
}
#mouseCursor.mHover {
  clip-path: polygon(48% 0, 0% 100%, 100% 100%);
  transform: rotate(-34.93deg);
  background: var(--sec_s);
}
.dark #mouseCursor {
  background: var(--SEC_LG);
  box-shadow: 0px 0px 15px 3px var(--SEC_LG);
}
.dark #mouseCursor.mHover {
  clip-path: polygon(48% 0, 0% 100%, 100% 100%);
  transform: rotate(-34.93deg);
  background: var(--BG_p);
}

/* 다크모드&라이트모드 */
.dark {
  background-color: var(--BG_N);
  color: var(--FONT_W);
}
.light {
  color: var(--BG_N);
}

/* sprite */
.sprite {
  width: 1.5em;
  height: 1.5em;
  background-image: url(../img/SPRITE.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* layout */
a {
  cursor: none;
}
.contain {
  box-sizing: border-box;
  padding: 0 2.5em;
}
.none {
  display: none;
  overflow: hidden;
}
.mb27 {
  margin-bottom: 27px;
}
.mb54 {
  margin-bottom: 54px;
}
.mt54 {
  margin-top: 54px;
}

/**/
.blobs {
  position: absolute;
  width: 356px;
  /* height: 337px; */
  left: 75px;
  top: 110px;
}
.blobs2 {
  position: absolute;
  width: 225px;
  /* height: 225px; */
}
.scroll_p {
  position: absolute;
  left: calc(50% - 39%);
  top: 0;
  line-height: 27px;
  text-transform: uppercase;
}

.C_WH {
  color: var(--FONT_W);
}

/*btn*/
.m_btn {
  width: 350px;
  height: 63px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(26, 65, 112, 0.3);
  border: 1px solid var(--Font_B);
}
