@import url("https://fonts.googleapis.com/css2?family=Foldit&family=Hi+Melody&family=Song+Myung&display=swap");
@font-face {
  font-family: "heir_of_lightregular";
  src: url("../font/heiroflightregular-webfont.woff2") format("woff2"),
    url("../font/heiroflightregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/**/

html {
  cursor: none;
}
body {
  font-family: "Pretendard Std Variable", Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

/* header */
header.row {
  line-height: 5.06em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  padding: 0 2.5em;
}
.logo_img {
  box-sizing: border-box;
  padding: 5px;
  margin-left: 2em;
}
.navi > li {
  width: 25%;
  text-align: center;
  position: relative;
}
.navi > li a {
  color: var(--BG_N);
  text-transform: uppercase;
  font-size: 1.3em;
}

.navi > li a::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid var(--BG_N);
  width: 0em;
  height: 2px;
  top: 3em;
  left: 2.9em;
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.82, -0.01, 0.45, 1.32);
}
.navi > li:hover a:after {
  width: 5em;
  transform: scaleX(1);
}
.navi > li:hover a {
  font-weight: 600;
}
.tnm_icon,
.subnav {
  display: none;
  visibility: hidden;
}

.ham_BTN {
  position: relative;
  transition: 0.3s ease-in-out;
  width: 45px;
  height: 34px;
}
.ham_BTN span {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: var(--Font_B);
  top: 0;
  transition: 0.2s ease-in-out;
}
.ham_BTN span:nth-child(2),
.ham_BTN span:nth-child(3) {
  top: 13px;
}
.ham_BTN span:nth-child(4) {
  top: 26px;
}
#toggle:checked + .ham_BTN span:nth-child(1),
#toggle:checked + .ham_BTN span:nth-child(4) {
  opacity: 0;
  transform: translateX(100%);
}
#toggle:checked + .ham_BTN span:nth-child(2) {
  transform: rotate(45deg);
}
#toggle:checked + .ham_BTN span:nth-child(3) {
  transform: rotate(-45deg);
}
#toggle {
  display: none;
}

.h_icon {
  line-height: 5.25em;
  display: block;
  height: 5.25em;
}
.h_icon > ul > li.sprite {
  margin-top: 2em;
}
.D_mode {
  transition: transform 0.3s;
}
.D_mode:hover {
  transform: scale(1.2);
}
.lang {
  background-position: -3.85em 0.1em;
  position: relative;
}

.lang_nav {
  width: 3.563em;
  height: 0em;
  background: var(--BG_N);
  position: absolute;
  top: 2.8em;
  left: -1.05em;
  border-radius: 0.313em;
  transition: 0.5s;
  visibility: hidden;
  z-index: 999999999;
}
.lang:hover {
  transform: scale(1.2);
}
.lang_nav.tog_open {
  height: 6.75em;
  visibility: visible;
}

.lang_nav.tog_open::before {
  border: 1.25em solid;
  border-color: transparent transparent var(--BG_N) transparent;
  visibility: visible;
}

.lang_nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 0em solid;
  border-color: transparent transparent var(--BG_N) transparent;
  top: -2em;
  left: 0.5em;
  visibility: hidden;
  z-index: 999999999;
}
.lang_nav > li {
  height: 30%;
  text-align: center;
  line-height: 30%;
}

.lang_nav > li a {
  display: inline-block;
  position: relative;
  color: var(--FONT_W);
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  line-height: 2.5em;
  font-size: 1em;
  transition: transform 0.3s;
}
.lang_nav > li:hover a {
  transform: scale(1.2);
}
.arrow {
  width: 2.3em;
  height: 3.5em;
  background-position: -8.8em -0.5em;
  position: absolute;
  bottom: 24.5%;
  left: 12.5%;
  animation: arrowB 2s cubic-bezier(0.22, 0.04, 0.81, 0.98) infinite normal;
}
.scroll_icon {
  position: relative;
}

/* .arrow > span {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid var(--SEC_LG);
  position: absolute;
  top: calc(-50% + 0.9em);
  left: calc(-50% - 0.5em);
} */

@keyframes arrowB {
  0% {
    height: 3.5em;
  }
  50% {
    height: 1.75em;
  }
  100% {
    height: 0em;
  }
}

/* 다크모드 */
.dark header > svg {
  fill: var(--SEC_LG);
}
.dark .navi > li > a {
  color: var(--SEC_LG);
}
.dark .navi > li a::after {
  border-bottom: 2px solid var(--SEC_LG);
}
.dark .lang .lang_nav {
  background: var(--SEC_LG);
}
.dark .lang_nav.tog_open::before {
  border-color: transparent transparent var(--SEC_LG) transparent;
}
.dark .lang .lang_nav > li a {
  color: var(--BG_N);
}

.dark .D_mode {
  background-position: -1.75em 0.1em;
}
.dark .lang {
  background-position: -5.75em 0em;
}
.dark .arrow {
  background-position: -11.1em 0em;
}

/* main */
main {
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

/* secion1 */
#top {
  position: relative;
  margin-bottom: 10em;
}
.m_top {
  position: relative;
  top: 10%;
  height: auto;
}
.mLine {
  position: absolute;
  width: 90%;
  height: 3px;
  background: var(--Font_B);
  z-index: 99999;
  top: 78px;
  left: 0;
}
.t_ml {
  animation: mtline 4s cubic-bezier(0.12, 0.11, 0.92, 0.95) normal;
}
@keyframes mtline {
  0% {
    width: 0;
  }
  45% {
    width: 45%;
  }
  95% {
    width: 90%;
  }
  100% {
    width: 90%;
  }
}
.t_ml:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--Font_B);
  top: -15px;
  right: -15px;
  position: absolute;
  border-radius: 50%;
  animation: mwon 4s cubic-bezier(0.26, 0.26, 0.73, 0.77) reverse;
}
@keyframes mwon {
  0% {
    width: 0px;
    opacity: 0;
  }
  80% {
    width: 0px;
  }
  99% {
    width: 15px;
  }
  100% {
    width: 30px;
    opacity: 1;
  }
}
.b_ml {
  width: 70%;
  top: calc(50% + 40%);
  left: 30%;
  animation: mbline 4s cubic-bezier(0.12, 0.11, 0.92, 0.95) normal;
}
@keyframes mbline {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.b_ml::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--Font_B);
  top: -15px;
  left: -15px;
  position: absolute;
  border-radius: 50%;
  animation: mwon 4s cubic-bezier(0.26, 0.26, 0.73, 0.77) reverse;
}
.m_tit {
  display: block;
  text-align: center;
  padding: 165px 0;
  position: relative;
}
.m_tit span {
  font-family: "heir_of_lightregular", Arial, serif;
  color: var(--Font_B);
  text-transform: uppercase;
  font-size: 7.25em;
  position: relative;
  z-index: 999;
  display: block;
}
.m_tit span:first-of-type {
  left: calc(50% - 60%);
}
.m_tit span:nth-of-type(2) {
  margin: 54px 0;
  left: calc(50% - 38%);
}
.m_tit span:last-of-type {
  left: calc(50% - 55%);
}
.top_sub_tit {
  position: absolute;
  left: calc(50% + 25%);
  top: 28.2em;
}
.top_sub_tit .m_subT {
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  display: block;
  top: 2em;
  left: -5em;
  width: 170px;
  font-weight: 400;
}
.top_sub_tit .m_subT > .m_FB {
  font-family: "Pretendard Std Variable", Arial, sans-serif;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2em;
  margin-right: -7px;
}

main > section {
  font-family: "Pretendard Std Variable";
}
/* 다크모드 메인 */
.dark .mLine,
.dark .t_ml:after,
.dark .b_ml::before {
  background: var(--sec_s);
}
.dark .m_tit span {
  color: var(--sec_s);
}
.dark .m_subT,
.dark .scroll_p {
  color: var(--FONT_W);
}

/* main공통 tit h1 */
.m_fh1 {
  font-family: "Song Myung", serif;
  font-size: 1.2em;
  font-weight: 400;
  font-size: 65px;
  line-height: 81px;
  text-transform: uppercase;
  color: #1a4170;
  position: absolute;
  left: 45px;
  top: 61px;
}
.ms_R {
  left: 80%;
  position: relative;
}

/* section2 */
#work {
  height: auto;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
}

#work .work_tit {
  font-size: 120px;
  font-family: "GmarketSansMedium";
  font-weight: 900;
  text-transform: uppercase;
}

#work .work_tit > li {
  text-align: center;
  margin: 0 auto;
}
#work .work_tit > li a {
  text-shadow: 0px 0px 3px var(--BG_N);
  color: var(--FONT_W);
}
#work .work_tit > li:hover a {
  text-shadow: none;
  color: var(--BG_N);
}

.list {
  width: 100vw;
  height: 100%;
}
.list > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 0.5fr 0.5fr 0.5fr 0.7fr;
}
.list > li a {
  display: flex;
  width: 100%;
}
.workBg_img {
  display: block;
  width: 480px;
  height: 430px;
  background: var(--BG_N);
  border-radius: 62px;
  grid-row: 2/5;
  grid-column: 1/2;
  margin: 0 auto;
}

.main_txt {
  grid-column: 2/3;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 0.1fr 0.3fr 0.4fr 0.35fr 0.3fr;
  grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.3fr 0.1fr 0.5fr 0.1fr 0.5fr 0.2fr;
  text-align: end;
}

.main_pj_tit {
  grid-column: 4/5;
  grid-row: 2/3;
}
.main_s_txt {
  margin-bottom: 10px;
}
.txt_main {
  font-size: 1.5em;
}
.main_pj_sub {
  grid-column: 3/5;
  grid-row: 4/5;
  line-height: 27px;
}
.main_pj_date {
  grid-column: 2/3;
  grid-row: 6/7;
}
.main_date {
  grid-column: 3/5;
  grid-row: 6/7;
}
.main_skill {
  grid-column: 2/3;
  grid-row: 8/9;
}
.main_pj_date,
.main_skill {
  margin-right: 10px;
}
.main_skill_list {
  grid-column: 3/5;
  grid-row: 8/9;
  text-align: justify;
}
.main_skill_list > li {
  display: inline-block;
}
.main_about {
  grid-column: 4/5;
  grid-row: 10/11;
  text-align: center;
}
.swiper-pagination {
  margin-bottom: 5em;
}
.dark .m_fh1 {
  color: var(--sec_s);
}
.dark #prof h1 {
  color: var(--Font_B);
}
.dark .pro_R_tit > p,
.dark .pro_R_CV .cv_btn,
.dark .contact_kao_L > p {
  color: var(--FONT_W);
}
.dark .pro_R_CV .cv_btn {
  border-top: 1px solid var(--sec_s);
  border-bottom: 1px solid var(--sec_s);
}
.dark .contact_kao_L {
  border: 0.5px solid var(--FONT_W);
}
.dark .swiper-slide > .main_txt {
  color: var(--FONT_W);
}

/* section3*/
#prof {
  display: flex;
  align-items: flex-start;
}
.prof_L,
.prof_R {
  display: inline-block;
  width: 100%;
}
.prof_L {
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr;
  grid-template-rows: 1fr 0.2fr 1.2fr 0.9fr;
  background: #e8e9e9;
  text-transform: uppercase;
  padding: 125px 40px 0px;
}

.prof_L > h2 {
  font-weight: 700;
  color: var(--Font_B);
  grid-column: 1/4;
  grid-row: 2/3;
  place-self: end start;
  margin-left: 20px;
  font-size: 2.8em;
}
.prof_L .pro_L_tit {
  box-sizing: border-box;
  padding: 0 40px;
  grid-column: 1/4;
  grid-row: 1/2;
}
.pro_L_tit > p {
  line-height: 27px;
  font-size: 1.25em;
}
.pro_L_tit > p:not(:last-of-type) {
  margin-bottom: 27px;
}
.pro_L_tit > p > span {
  display: block;
  font-size: 1.5em;
  color: var(--Font_B);
}
.design,
.develop {
  grid-column: 1/4;
  place-self: center center;
  margin-left: 20px;
}
.skill_list {
  font-size: 18px;
  line-height: 27px;
  box-sizing: border-box;
  padding: 20px 40px;
}
.skill_list > li {
  margin-bottom: 27px;
}
.skill_list > li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid var(--Font_B);
  background: var(--Font_B);
  transform: rotate(45deg) translateX(-5px);
  margin-right: 5px;
}
.highlighter {
  background: var(--Font_B);
  color: var(--FONT_W);
  padding: 5px;
  margin-right: 2px;
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-bottom: 3px solid var(--Font_B);
  position: absolute;
  top: calc(50% + 60%);
  left: 0;
}
.prof_R {
  display: grid;
}
.prof_L .prof_R {
  height: 100%;
  top: 0;
  display: fixed;
}
#prof .prof_R .pro_R {
  display: grid;
  grid-template-rows: 2fr 1fr 0.3fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}
.pro_R_blob {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/2;
}
.pro_R_tit {
  padding: 40px 80px;
  grid-column: 1/4;
  box-sizing: border-box;
}

.fix_photo {
  background-image: url(../img/photo/001.jpg);
}
.prof_photo {
  position: absolute;
  left: calc(50% - 33%);
  top: calc(50% - 45%);
  width: 80%;
}

.photo_blob_shape {
  width: 80%;
  border-radius: 50%;
}
.photo_blob_shape > img {
  display: block;
  width: 100%;
}

.pro_R_tit > p > span {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 1.75em;
  display: block;
  font-family: "heir_of_lightregular", Arial, serif;
}
.pro_R_tit > p:last-of-type {
  position: relative;
  right: 0;
  font-weight: 400;
  font-size: 1.3em;
}
.prof_R .pro_R_CV {
  width: 100%;
  text-align: center;
  place-self: center center;
}

.pro_R_CV .cv_btn {
  line-height: 54px;
  border-top: 1px solid var(--Font_B);
  border-bottom: 1px solid var(--Font_B);
  width: 183px;
  margin: auto;
  font-size: 1.2em;
}
.pro_R_CV:hover .cv_btn {
  font-weight: 600;
  border-top: 2px solid var(--Font_B);
  border-bottom: 2px solid var(--Font_B);
}

/*section4*/

#contact {
  height: auto;
}
#contact .content {
  position: relative;
  padding-bottom: 7em;
  perspective: 600px;
  width: 600px;
  height: 650px;
  margin: 10em auto;
}
#contact .content:hover .contact_kao_L {
  transform: rotateY(180deg);
  box-shadow: none;
}
#contact .m_fh1 {
  position: relative;
  margin-top: 61px;
  left: 0;
}
.contact_tit {
  position: absolute;
  top: calc(50% - 10%);
  right: calc(50% - 20%);
  line-height: 27px;
  text-align: end;
  z-index: 99999999999999;
}
.contact_tit span {
  display: block;
}
.contact_kao_L {
  /* border: 0.5px solid var(--BG_N); */
  background: radial-gradient(
    117.25% 306.03% at -8.22% -8.98%,
    rgba(193, 193, 193, 0.2) 0%,
    rgba(193, 193, 193, 0) 100%
  );
  border-radius: 335px 335px 5px 5px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  transition: 1s;
  transform-style: preserve-3d;
  display: block;
  width: 507px;
  height: 528px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  top: calc(50% - 35%);
  left: calc(50% - 35%);
}
.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s;
  backface-visibility: hidden;
  text-align: center;
}
.side.front {
  top: calc(50%);
  width: 100%;
  height: 100%;
}

.side.back {
  background-color: var(--FONT_W);
  transform: rotateY(180deg);
  border-radius: 335px 335px 5px 5px;
}
.side > .content_img {
  background-image: url(../img/contac_IMG.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 358px;
  height: 358px;
  border-radius: 335px 335px 5px 5px;
  position: absolute;
  top: calc(50% - 34%);
  left: calc(50% - 35%);
}
/* .contact_kao_L:hover .content_img {
  transform: scale(1.05);
  border-right: 6px outset rgba(217, 217, 217, 0.5);
  border-bottom: 6px outset rgba(217, 217, 217, 0.5);
} */

.side > p {
  position: absolute;
  bottom: 0;
  left: calc(50% - 157px / 2 + 1px);
  font-size: 10px;
  line-height: 27px;
}

.side.front h2 span {
  display: block;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0 2em 2em;
  font-weight: 400;
}

#contact .blobs {
  left: calc(50% - 25%);
  top: calc(50% - 35%);
  width: 400px;
}
#contact .blobs2 {
  bottom: calc(50% - 70%);
  right: calc(50% - 25%);
  width: 300px;
}
.kA_BTN {
  margin: 0 auto;
  line-height: 63px;
  text-align: center;
}
#contact .kA_BTN:hover {
  background-color: var(--Font_B);
  color: var(--sec_P);
  font-weight: bold;
}

/* footer */
footer {
  text-align: center;
  line-height: 3.125em;
}
/* 다크모드 */
.dark .copy {
  color: var(--FONT_W);
}
